body {
    margin: 0px;
    font-family: Calibri, Helvetica, sans-serif;
    background-image: url('images/Background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.clear {
    clear: both;
}

/* nav style start here */
nav {
    background-color: #e6e6e6;
    border-bottom: 1px solid #878789;
}

.logoContainer {

    display: inline-block;
    width: 16%;
    margin: 0px;
    font-size: 35px;
    padding: 17px 65px;
    font-weight: 600;

}

img.logo {
    width: 75px;
    height: 55px;
    margin: 0px auto;
    display: block;
}

.searchContainer {
    display: inline-block;
    width: 68%;
}

.searchRelative {
    position: relative;
    display: inline-block;
    float: left;
    width: 54%;
}

input#mainSearch {
    padding: 13px 10px;
    font-family: "open-san";
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #8c8c8c;
    width: 71%;
}

img.searchIcon {
    position: absolute;
    top: 13px;
    right: -3px;
    width: 19px;
}

button.searchIcon {

    background-color: #ffffff00;
    border: none;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 11px 25px;
    border-radius: 4px;
    font-size: 17px;
    letter-spacing: 1.1px;
}

.profileInfoContainer {
    width: 17%;
    display: inline-block;
    float: right;
    border-left: 1px solid #bcbcbc;
    margin-left: 10px;
}

img.navPUser {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    float: left;
    border-radius: 60px;
    margin-right: 5px;
    margin-left: 5px;
}

p.navUName {
    display: inline-block;
    font-size: 14px;
    margin-top: 19px;
}

img.logout {
    width: 13px;
    margin-left: 5px;
    margin-top: 23px;
    display: inline-block;
}

/* nav style end here */

/* sidebar style start here */

.sidebar {
    width: 16.5%;
    background-color: #e6e6e6;
    height: 90vh;
    display: inline-block;
    float: left;
}

.userInfo {
    padding: 12px 10px;
    border-bottom: 1px solid #878789;

}

img.mainShowImg {
    width: 100%;
    height: 245px;
    border-radius: 10px;
}

.imgContainer {
    display: inline-block;
    float: left;
    margin-right: 11px;
}

img.userIMG {
    width: 40px;
    height: 40px;
    border-radius: 60px;
}

.userDetail {
    display: inline-block;
    margin-top: 10px;
}

p.userName {
    margin: 0px;
    font-size: 13px;
}

p.userRole {
    margin: 0px;
    font-size: 14px;
    color: #777474;
    font-weight: 600;
}

.menuItem {
    height: 50px;

    padding-right: 12px;
    padding-left: 12px;
}

a.menuILink {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 11px;
    display: inline-block;
}

.menuIIcon {
    font-size: 20px;
    margin-top: 11px;
}

.menuIconCont {
    float: right;
}

.active {
    background-color: #c2c2c2;
}

.active .menuILink {
    color: #3e9ddc;
}

.active .menuIIcon {
    color: #3e9ddc;
}

/* sidebar style end here */

/* home page style start here  */
.content {
    /* background-color: #5c7aea; */
    height: 90vh;
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.contentContainer {
    display: inline-block;
    width: 83%;
    text-align: center;
}

p.mainText {
    width: 100%;
    font-size: 20px;
    /* font-weight: 600; */
    display: inline-block;
    font-size: 29px;
}

.infoPanel {
    width: 38%;
    height: 550px;
    background-color: #e6e6e6;
    display: inline-block;
    border-radius: 6px;
    padding: 40px 65px 55px;
}

.homePanel {
    width: 81%;
}

.hCard {
    display: inline-block;
    width: 175px;
    padding-top: 10px;
    background-color: white;
    border-radius: 6px;
    border: 0.2px solid #707070;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 10px 20px;
}

img.cardImg {
    width: 125px;
}

p.cardTxt {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/* home page style end here  */

/* user profile style start here */
img.profileImg {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-top: 12px;
}

p.pUserName {
    font-weight: 600;
    font-size: 19px;
    height: 8px;
}

p.pUserRole {
    font-weight: 600;
    color: #777474;
}

p.pFullNameTxt {
    font-weight: 600;
    color: #777474;
    display: inline-block;
    width: 22%;
    font-size: 14px;
    text-align: left;
}

p.pFullName {
    font-weight: 600;
    display: inline-block;
    font-size: 15px;
    width: 58%;
    margin-left: 40px;
    text-align: left;
}

.pUserInfo {
    text-align: center;
}

.profileItem {
    width: 73%;
    display: inline-block;
}

a.editProf,
span.editProf,
button.saveEPBtn,
button.saveACBtn,
button.saveBBtn,
a.cancelEPBtn,
button.postAnnoun,
a.showTicketBTN {
    background-color: black;
    color: #fff;
    border-radius: 5px;
    width: 185px;
    display: inline-block;
    padding: 8px 5px;
    /* margin-top: 40px; */
    cursor: pointer;
    /* font-weight: 600; */
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

button.saveBBtn {
    margin: 18px auto;
    display: block;

}

form.formLogin {
    text-align: left;
    margin-top: -25px;
}

p.mailTitle {
    font-size: 15px;
    letter-spacing: 1px;
    height: 5px;
}

input#mail:focus-visible,
input#password:focus-visible {
    border: none;
    outline: none;
}

input#mail,
input#password {
    width: 100%;
    padding: 8px 10px;
    border-radius: 13px;
    border: 1px solid black;
    font-family: "open-san";
}

label.changePicture {
    font-size: 12px;
    color: blue;
    display: block;
    cursor: pointer;
    margin-top: 5px;
}

.changeCarIMG {
    font-size: 12px;
    color: blue;
    display: block;
    cursor: pointer;
    margin: 30px auto 0px;
    width: 140px;
    border: none;
    background-color: transparent;

}

.editPanel {
    padding: 5px 26px 21px;
    height: 780px;
    margin-top: 25px;
}


button.saveEPBtn,
button.saveACBtn {
    border: 0px;
    float: left;
    padding: 11px;
}

button.saveACBtn {
    float: none;
}

a.cancelEPBtn {
    background-color: #000;
    color: #fff;
    border: 1px solid #072b73;
    margin-left: 20px;
    float: right;
    padding: 11px;

}

.formBtn,
.formBtnBooking {
    text-align: center;
    display: block;
    padding: 8px 5px;
    margin: 5px auto;
    width: 100%;
}

.formBtnBooking {
    margin: 35px auto;
}

input#image {
    visibility: hidden;
    height: 0px;
}

/* user profile style end here */

/* users style start here */
select#users {
    padding: 12px 13px;
    font-family: "open-san";
    font-weight: 600;
    margin-right: -5px;
    border-radius: 4px;
}

.userSearchRelative {
    float: inherit;
}

.userSearchContainer {
    margin: 15px 0px;
}

.userPanel {
    width: 38%;
    height: 390px;
    background-color: #e6e6e6;
    display: inline-block;
    border-radius: 6px;
    padding: 28px 9px 0px;
    overflow-x: auto;
    margin-top: 20px;
}

.userCard {
    display: inline-block;
    width: 45%;
    height: 217px;
    background-color: #fff;
    border-radius: 6px;
    margin: 13px 15px;
    color: #000;
}

.userIL {
    display: inline-block;
    width: 34%;
    border-right: 1px solid #000;
    height: 200px;
    float: left;
    margin-top: 10px;
    padding: 0px 9px;
}

img.userIMGInfo {
    width: 97px;
    height: 80px;
    border-radius: 5px;
    margin-top: 80px;
}

p.userIName {
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
}

p.userIRole {
    font-size: 15px;
    font-weight: 600;
    margin: 4px;
    color: #777474;
}

.userIR {
    width: 55%;
    display: inline-block;
    text-align: left;
    padding-left: 18px;
}

p.UNTXT,
p.UMTXT,
p.UPTXT,
p.UATXT {
    font-size: 15px;
    font-weight: 600;
    margin: 6px 0px;

}

p.UName,
p.UMail,
p.UPhone,
p.UAddress {
    margin: 0px;
    font-size: 12px;

}

/* users style end here */

/* report style start here */
span.fromTXT,
span.toTXT {
    font-family: "open-san";
    font-weight: 600;
}

span.toTXT {
    margin-left: 10px;
}

input#reportFrom,
input#reportTo {
    font-family: "open-san";
    font-size: 15px;
    border-radius: 4px;
    border: 0px;
    padding: 5px 7px;
}

.reportPanel {
    width: 50%;
    height: 503px;
    padding: 15px 65px 15px;
}

p.reportMainTXT {
    margin: 5px 0px;
}

.ReportBTN {
    border-radius: 4px;
    border: none;
    background-color: #072b73;
    color: #fff;
    font-family: "open-san";
    font-size: 14px;
    padding: 3px 10px 5px 10px;
    margin-left: 11px;
    cursor: pointer;
}

.reportDetailContainer {
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

p.mainTXT {
    font-size: 17px;
    font-weight: 600;
    color: #777474;
    margin: 0px 0px 10px 0px;
}

p.detailTXT {
    margin: 0px 0px 10px;
    font-size: 17px;
    font-weight: 600;
}

img.starReport {
    width: 17px;
}

/* report style end here */

/* register style start here */
img.staffRIMG {
    width: 65px;
    border-radius: 60px;
}

.mainStaffTXT {
    margin: 7px 0px;
}

.staffPanel {
    width: 50%;
    height: 515px;
    padding: 15px 65px 15px;
    margin-top: 15px;
    overflow-x: auto;
}

form.formRegisterStaff {
    text-align: left;
    width: 50%;
    margin: 0px auto;
    margin-top: -5px;
}

button.btn-login-submit {
    background-color: #072c73;
    font-size: 18px;
    font-family: "open-san";
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 7px;
    margin: 26px 0px;
    text-transform: uppercase;
    cursor: pointer;
}

/* register style end here */

/* announcement style start here */
textarea#announcement {
    width: 100%;
    height: 266px;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    font-family: "open-san";
}

button.postAnnoun {
    border: none;
    width: 190px;
    padding: 11px 0px;
    margin-top: 30px;
}

p.descriptionTXT {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #777474;
}

input#annTitleTXT {
    width: 100%;

    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #000;
    font-family: "open-san";
    margin: 0px;
}

p.annTitle {
    text-align: left;
}

.annPanel {
    width: 38%;
    height: 480px;
    background-color: #e6e6e6;
    display: inline-block;
    border-radius: 6px;
    padding: 11px 65px 11px;
}

/* announcement style end here */
/* ticket style start here */
.ticketCard {
    display: inline-block;
    width: 45%;
    height: 260px;
    background-color: #fff;
    border-radius: 6px;
    margin: 13px 15px;
    color: #000;
}

.ticketIL {
    display: inline-block;
    width: 23%;
    border-right: 2px solid #77747478;
    height: 263px;
    float: left;
    margin-top: 10px;
    padding: 0px 9px;
}

.carIL {
    height: 240px;
}

.ticketIR {
    width: 77%;
    display: inline-block;
    text-align: left;
    padding-left: 18px;
    padding-top: 10px;
}

a.showTicketBTN {
    float: right;
}

.ticketsPanel {
    height: 465px;
}

.ticketPanel {
    height: 500px;
    margin-top: 20px;
}

.userTicketContainer {
    height: 20%;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #cacaca;
}

.userTicket {
    width: fit-content;
    display: inline-block;
}

img.userTicketIMG {
    height: 70px;
    border-radius: 45px;
    margin-top: 9px;
    float: left;
}

.userTicketInfo {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
}

p.userTicketName {
    margin: 0px;
}

a.viewProfile {
    margin-top: 10px;
}

.ticketLS {
    width: 45%;
    display: inline-block;
    border-right: 1px solid #cacaca;
    text-align: left;
    float: left;
}

.ticketRS {
    width: 45%;
    display: inline-block;
}

a.updateTicketBTN,
span.updateTicketBTN {
    margin-top: 10px;
    width: 190px;
    text-align: center;
}

.pictureTicketContainer {
    height: 220px;
    overflow-x: auto;
    text-align: left;
}

img.pictureTicket {
    border: 1px solid #000;
    width: 85px;
    height: 85px;
    margin-left: 10px;
}

select#tickets {
    padding: 5px 0px;
    font-family: "open-san";
    font-weight: 600;
    margin-right: -5px;
    border-radius: 4px;
}

input.ticketIDInput {
    visibility: hidden;
    width: 0px;
    padding: 0px;
    margin: -4px;
}

p.emptyContainer {
    font-size: 20px;
    color: grey;
    font-weight: 600;
}

select#gender {
    font-size: 15px;
    font-family: "open-san";
    padding: 2px 3px;
}

.imgShowContainer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000000b0;
    z-index: 9;
    position: fixed;
    top: 0px;
    left: 0px;
}

img.imgPanel {
    width: 50%;
}

p.closePanel {
    color: #fff;
    font-size: 30px;
    float: left;
    margin: 15px 30px;
    cursor: pointer;
}

p.ticketMessage {
    font-weight: 600;
    padding: 0px 11px 0px 0px;
}

.supportPanel {
    height: 600px;
    width: 88%;
}

/* ticket style end here */

/* response style start here */
@media screen and (min-width: 1300px) {
    .reportPanel {
        width: 70%;
        height: 503px;
        padding: 15px 10px 15px;
    }


    .infoPanel {
        overflow-x: auto;
        height: 550px;
    }

    .editPanel {
        overflow-x: auto;
        height: 600px;
    }
}

@media screen and (max-width: 1200px) {
    .userCard {
        width: 100%;
    }

    .profileInfoContainer {
        width: 22%;
    }

    .sidebar {
        width: 22.5%;
    }

    a.menuILink {
        font-size: 20px;
    }

    .homePanel {
        width: 72%;
    }

    .contentContainer {
        width: 76%;
    }

    .infoPanel {
        width: 63%;
        padding: 25px 5px 3px;
        overflow-x: auto;
        height: 550px;
    }

    span.toTXT {
        margin-left: 23px;
    }

    input#reportFrom,
    input#reportTo {
        width: 74%;
        margin: 10px 25px 14px 16px;
    }

    .ticketIR {
        width: 64%;
    }
}

@media screen and (max-width: 776px) {
    .profileInfoContainer {
        width: 14%;
        height: 57px;
    }

    p.navUName {
        display: none;
    }

    a.menuILink {
        display: none;
    }

    .menuIconCont {
        float: none;
        margin: 0px auto;
        width: 20px;
    }

    .menuIcon {
        cursor: pointer;
    }



    /* .homePanel {
        width: 53%;
        overflow-x: auto;
        height: 370px;
    } */
    .imgContainer {
        display: inline-block;
        float: none;
        margin: 5px;
    }

    .userInfo {
        text-align: center;
    }

    .sidebar {
        width: 15%;
    }

    p.pFullNameTxt {
        width: 26%;
        font-size: 13px;
        text-align: center;
    }

    p.pFullName {
        font-size: 14px;
        width: 58%;
        margin-left: 2px;
        text-align: center;
    }

    .userIL {
        display: inline-block;
        width: 23%;
    }

    .userIR {
        width: 61%;

        padding-left: 5px;
    }

    img.userIMGInfo {
        width: 40px;
    }

    .annPanel {
        padding: 25px 50px 3px;
    }
}

/* response style end here */
/* supports Style */
.usersContainerSupport {
    width: fit-content;
    margin: 150px auto;
    display: none;
}

p.emptySupportTXT {
    font-size: 35px;
    color: #c8c8c8;
    font-weight: 600;
    letter-spacing: 1.5;
}

.usersSupportsContainer {
    margin-top: 35px;
    margin-bottom: 35px;
}

.userList {
    height: 85px;
    cursor: pointer;
}

.supportUserDetail {
    width: 90%;
    display: inline-block;
    text-align: left;
    padding-bottom: 15px;
}

img.userSupportImg {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    float: left;
}

p.userSupportName {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 18px;
}

.leftSideListSupport {
    float: right;
    margin-top: 15px;
}

label.redDotSupport {
    width: 15px;
    height: 15px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    margin-top: 3px;
}

img.leftArrowSupport {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}

input#userSupportSearch {
    border: 1px solid #97a97c;
    border-radius: 5px;
    width: 175px;
    padding: 3px 9px;
}

input#userSupportSearchBTN {
    background-color: #97a97c;
    border: none;
    color: #fff;
    font-size: 17px;
    padding: 2px 13px;
    border-radius: 5px;
    margin-right: 15px;
}

input#userSupportSearch:focus-visible,
textarea#chatTextArea:focus-visible {
    outline: none !important;
    border: 2px solid #97a97c;
}

.backLink {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}

.backLinkIMG {
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
    transform: rotate(180deg);
}

.chatContainer {
    border-top: 1px solid #b5c99a;
    margin-top: 12px;
}

.messagesContainer {
    background-color: #fff;
    height: 365px;
    padding: 21px;
    margin: 15px 0px;
    border-radius: 9px;
    overflow: scroll;
}

.messagesUContainer {
    background-color: #fff;
    height: 435px;
    padding: 21px;
    margin: 15px 0px;
    border-radius: 9px;
    overflow: scroll;
}

.messageDirectionLeft {
    float: left;
    width: 100%;
    direction: ltr;
}

.messageDirectionRight {
    float: right;
    width: 100%;
    direction: rtl;
}

.messageContainer {
    background-color: #b5c99a;
    border-radius: 10px;
    max-width: 50%;
    padding: 20px;
    margin-bottom: 17px;
    width: fit-content;
}

p.messageTXT {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    display: inline;
}

textarea#chatTextArea {
    width: 89%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #97a97c;
    border-radius: 5px;

    padding: 3px 9px;
}

input#sendMessageBTN {
    background-color: #97a97c;
    border: none;
    color: #fff;
    font-size: 17px;
    padding: 2px 13px;
    border-radius: 5px;
    margin-right: 15px;
    float: left;
    height: 70px;
    width: 7%;
}

.blackScreen {
    background-color: #00000038;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 999;
}

.panel {
    background-color: #fff;
    width: 200px;
    height: 212px;
    margin: 150px auto;
    border-radius: 9px;
    text-align: center;
}

img.loadingIMG {
    width: 130px;
    margin: 20px 0px;
    height: 130px;
}

p.loadingTXT {
    font-size: 20px;
    margin-bottom: 11px;
    font-weight: 600;
    color: #97a97c;
}

/* supports Style */
.ticketIRL {
    display: inline-block;
    width: 40%;
    float: left;
}

.ticketIRR {
    display: inline-block;
    width: 60%;
}

a.bookingBTN {
    background-color: black;
    color: white;
    padding: 7px 45px;
    border-radius: 5px;
    text-transform: uppercase;

    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

a.carBTN {
    background-color: black;
    color: white;
    padding: 6px 21px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    margin-right: 30px;
    box-shadow: 1px 3px 18px 1px #000000b3;
}

.showIR {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 18px;
    padding-top: 20px;
    height: 220px;
}

.showCarIR {
    display: inline-block;
    width: 33%;
    float: left;
}

.showCarIRR {
    display: inline-block;
    width: 33%;
    float: right;
}

.bookingIRL {
    display: inline-block;
    width: 33%;
    float: left;
}

.bookingIRR {
    display: inline-block;
    width: 33%;
}

.bookingCard {
    display: inline-block;
    width: 48%;
    height: 282px;
    background-color: #fff;
    border-radius: 6px;
    margin: 14px 7px;
    color: #000;
}

.btnBookingContainer {
    float: right;
    margin-right: 15px;
}

.bookingExtBTN,
.bookingCanBTN {
    background-color: black;
    color: white;
    padding: 4px 18px;
    border-radius: 5px;
    text-transform: uppercase;
    /* width: 50px; */
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 12px;
}

a.bookingExtBTN:hover {
    color: #fff;
    text-decoration: none;
}

img.addressIcon {
    width: 80px;
}

.addressContainer {
    width: 100%;
    margin: 24px auto 0px;

}

label.addressEdit {
    padding: 10px 36px;
    background-color: black;
    color: white;
    border-radius: 5px;
    float: left;
    display: inline-block;
}

button.addressEdit {
    padding: 9px 36px;
    background-color: black;
    color: white;
    border-radius: 5px;
    float: left;
    display: inline-block;
    border: none;
}

label.addressCancel {
    padding: 10px 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: inline-block;
    float: right;
}

input[type=email],
input[type=text],
input[type=password],
input[type=tel],
select {
    width: 100%;
    margin: 8px 0px;
    padding: 12px;
    display: inline-block;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    resize: vertical;
}

.addressForm {
    width: 80%;
    margin: 20px auto;
}

p.logoTXt.forgetTXt {
    font-size: 20px;
    font-weight: 600;
}

.addCarBTN {
    background-color: black;
    color: white;
    padding: 12px 45px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1.2px;
}

.rentedURL {
    color: red;
    margin-left: 15px;
}

.carPanel {
    width: 90%;
    height: 600px;
    margin-top: 7px;
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.carCard {
    display: inline-block;
    width: 45%;
    height: 260px;
    background-color: #fff;
    border-radius: 6px;
    margin: 37px 15px;
    color: #000;
}

.rentedPanel {
    width: 93%;
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    height: 690px;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
}

.bookingsPanel {
    width: 93%;
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    height: 620px;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
}

.bookingPanel {
    height: 585px;
    width: 70%;

    background-color: #e6e6e6;
    display: inline-block;
    border-radius: 6px;
    /* padding: 28px 9px 0px; */
    overflow-x: auto;
    margin-top: 40px;
}

.BookCard {
    display: block;
    width: 100%;
    height: 282px;
    border-radius: 6px;
    margin: 13px 0px;
    color: #000;
}

img.bookIMG {
    width: 92%;
    border-radius: 10px;
    margin-top: 100px;
    height: 235px;
    margin: 10px auto;
}

.bookInfo {
    width: 94%;
    display: block;
    text-align: left;
    padding-left: 18px;
    padding-top: 10px;
    margin-left: 22px;
}

.bookBTN {
    background-color: black;
    color: white;
    padding: 8px 53px;
    border-radius: 5px;
    text-transform: uppercase;
    /* width: 50px; */
    display: inline-block;
    margin: 55px auto 15px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    width: 160px;
}

.addCarBTN:hover {
    color: white;
    text-decoration: none;
}